AplicacionCalculadora/Connected Services/ServicioCalculadora/CalculadoraPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://proyectoCalculadora/" targetNamespace="http://proyectoCalculadora/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cuadrado" type="tns:cuadrado" />
  <xs:element name="cuadradoResponse" type="tns:cuadradoResponse" />
  <xs:element name="dividir" type="tns:dividir" />
  <xs:element name="dividirResponse" type="tns:dividirResponse" />
  <xs:element name="fraccionUno" type="tns:fraccionUno" />
  <xs:element name="fraccionUnoResponse" type="tns:fraccionUnoResponse" />
  <xs:element name="multiplicar" type="tns:multiplicar" />
  <xs:element name="multiplicarResponse" type="tns:multiplicarResponse" />
  <xs:element name="pow" type="tns:pow" />
  <xs:element name="powResponse" type="tns:powResponse" />
  <xs:element name="restar" type="tns:restar" />
  <xs:element name="restarResponse" type="tns:restarResponse" />
  <xs:element name="sqrt" type="tns:sqrt" />
  <xs:element name="sqrtResponse" type="tns:sqrtResponse" />
  <xs:element name="sumar" type="tns:sumar" />
  <xs:element name="sumarResponse" type="tns:sumarResponse" />
  <xs:complexType name="pow">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double" />
      <xs:element name="arg1" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="powResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sumar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double" />
      <xs:element name="arg1" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sumarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="multiplicar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double" />
      <xs:element name="arg1" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="multiplicarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqrt">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sqrtResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cuadrado">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cuadradoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fraccionUno">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fraccionUnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="restar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double" />
      <xs:element name="arg1" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="restarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dividir">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double" />
      <xs:element name="arg1" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dividirResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>