AplicacionCalculadora/Connected Services/ServicioCalculadora/CalculadoraService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://proyectoCalculadora/" name="CalculadoraService" targetNamespace="http://proyectoCalculadora/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.15.3:7101/AplicacionCalculadora-ProyectoCalculadora-context-root/CalculadoraPort?xsd=1" namespace="http://proyectoCalculadora/" />
    </xsd:schema>
  </types>
  <message name="sqrt">
    <part name="parameters" element="tns:sqrt" />
  </message>
  <message name="sqrtResponse">
    <part name="parameters" element="tns:sqrtResponse" />
  </message>
  <message name="pow">
    <part name="parameters" element="tns:pow" />
  </message>
  <message name="powResponse">
    <part name="parameters" element="tns:powResponse" />
  </message>
  <message name="sumar">
    <part name="parameters" element="tns:sumar" />
  </message>
  <message name="sumarResponse">
    <part name="parameters" element="tns:sumarResponse" />
  </message>
  <message name="restar">
    <part name="parameters" element="tns:restar" />
  </message>
  <message name="restarResponse">
    <part name="parameters" element="tns:restarResponse" />
  </message>
  <message name="dividir">
    <part name="parameters" element="tns:dividir" />
  </message>
  <message name="dividirResponse">
    <part name="parameters" element="tns:dividirResponse" />
  </message>
  <message name="multiplicar">
    <part name="parameters" element="tns:multiplicar" />
  </message>
  <message name="multiplicarResponse">
    <part name="parameters" element="tns:multiplicarResponse" />
  </message>
  <message name="fraccionUno">
    <part name="parameters" element="tns:fraccionUno" />
  </message>
  <message name="fraccionUnoResponse">
    <part name="parameters" element="tns:fraccionUnoResponse" />
  </message>
  <message name="cuadrado">
    <part name="parameters" element="tns:cuadrado" />
  </message>
  <message name="cuadradoResponse">
    <part name="parameters" element="tns:cuadradoResponse" />
  </message>
  <portType name="Calculadora">
    <operation name="sqrt">
      <input message="tns:sqrt" />
      <output message="tns:sqrtResponse" />
    </operation>
    <operation name="pow">
      <input message="tns:pow" />
      <output message="tns:powResponse" />
    </operation>
    <operation name="sumar">
      <input message="tns:sumar" />
      <output message="tns:sumarResponse" />
    </operation>
    <operation name="restar">
      <input message="tns:restar" />
      <output message="tns:restarResponse" />
    </operation>
    <operation name="dividir">
      <input message="tns:dividir" />
      <output message="tns:dividirResponse" />
    </operation>
    <operation name="multiplicar">
      <input message="tns:multiplicar" />
      <output message="tns:multiplicarResponse" />
    </operation>
    <operation name="fraccionUno">
      <input message="tns:fraccionUno" />
      <output message="tns:fraccionUnoResponse" />
    </operation>
    <operation name="cuadrado">
      <input message="tns:cuadrado" />
      <output message="tns:cuadradoResponse" />
    </operation>
  </portType>
  <binding name="CalculadoraPortBinding" type="tns:Calculadora">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="sqrt">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pow">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sumar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="restar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="dividir">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="multiplicar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="fraccionUno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cuadrado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CalculadoraService">
    <port name="CalculadoraPort" binding="tns:CalculadoraPortBinding">
      <soap:address location="http://192.168.15.3:7101/AplicacionCalculadora-ProyectoCalculadora-context-root/CalculadoraPort" />
    </port>
  </service>
</definitions>